.containerWorkSection {
    width: 100vw;
    max-width: 100vw;
    height: auto; /* Altera para auto para expandir conforme o conteúdo */
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Remove o scroll da seção */
    color: black;
    background-color: #263C28;
    background-image: url("../../../../public/assets/grass.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.text {
    display: flex;
    justify-content: flex-start;
    color: #ffffff;
    font-size: 30px;
}

.title {
    color: #ffffff;
    font-size: 50px;
}

.containerBox {
    width: 1920px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap; /* Permite que os elementos quebrem de linha */
}
