.containerHome {
    display: flex;
    background-image: url("../../../../public/assets/Rectangle 5.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}