.containerBanner {
    width: 90%;
    height: 200px;
    top: 150px;
    display: flex;
    position: absolute;
    background-image: url("../../../../public/assets/banner-products.png");
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    border-radius: 20px;
}



.title {
    font-size: 2rem;
    font-weight: 800;
    margin-left: 250px;
    position: absolute;
}

.greenCircle {
    position: absolute;
    left: 150px;
    top: -35px;
}