.buttonAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    background-color: #006400;
    color: white;
    width: 175px;
    height: 40px;
    transition: 1s;
}

.buttonAdd:hover {
    width: 200px;
    height: 45px;
    transition: 1s;
}