.containerTitle {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.iconUser {
    font-size: 2.5vw;
}

.titile {
    font-size: 2vw;
}